<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Organizer</title>

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div id="navbar" class="collapse navbar-collapse">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">Organizer</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="">Home</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="app" class="container"></div>

	<footer class="footer">
		<div class="container">
			<p class="text-muted">&copy; 2015 Organizer</p>
		</div>
	</footer>
	
	<script id="events-layout-template" type="text/x-handlebars-template">
		<div class="page-header"><h1>Organizer</h1></div>

		<h2>New event</h2>
		<div id="new-event"></div>

		<h2>List of events</h2>
		<div id="events-list"></div>
	</script>

	<script id="show-event-template" type="text/x-handlebars-template">
		<div class="page-header"><h1>{{title}}</h1></div>
		<div class="well well-lg">{{description}}</div>
	</script>

	<script id="show-event-layout-template" type="text/x-handlebars-template">
		<div id="event"></div>
	</script>

	<script id="event-template" type="text/x-handlebars-template">
		<a href="#/events/{{position}}">{{title}}</a>
		<a href="#" class="btn btn-danger">remove</a>
	</script>

	<script id="event-form-template" type="text/x-handlebars-template">
		<div class="form-group">
			<label class="control-label" for="event_title">Title</label>
			<input type="text" id="event_title" class="form-control" name="title">
		</div>

		<div class="form-group">
			<label class="control-label" for="event_description">Description</label>
			<textarea type="text" id="event_description" class="form-control" name="description"></textarea>
		</div>

		<input type="submit" class="btn btn-primary" value="Add an event">
	</script>

	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.validation/0.11.5/backbone-validation.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.stickit/0.9.0/backbone.stickit.js"></script>

	<script src="js/validation.js"></script>
	<script src="js/app.js"></script>	
	<script src="js/models/event.js"></script>
	<script src="js/collections/events.js"></script>
	<script src="js/views/base.js"></script>
	<script src="js/views/events.js"></script>	
	<script src="js/routes.js"></script>
</body>
</html>